# Make emacs the default editor.
export EDITOR='emacs';

# Increase Bash history size. Allow 32³ entries; the default is 500.
export HISTSIZE='32768';
export HISTFILESIZE="${HISTSIZE}";

# Omit duplicates and commands that begin with a space from history.
export HISTCONTROL='ignoreboth';

# Don't bother saving ls in history
export HISTIGNORE='ls'

# Prefer US English and use UTF-8.
export LANG='en_US.UTF-8';
export LC_ALL='en_US.UTF-8';

# Highlight section titles in manual pages.
export LESS_TERMCAP_md="${yellow}";

# Don’t clear the screen after quitting a manual page.
export MANPAGER='less -X';

# Always enable colored `grep` output.
export GREP_OPTIONS='--color=auto';

# Docker stuff
#export DOCKER_TLS_VERIFY="1"
#export DOCKER_HOST="tcp://192.168.9.240:2376"
#export DOCKER_CERT_PATH="/Users/robert/.docker/machine/machines/dev"
#export DOCKER_MACHINE_NAME="dev"

# Groovy
export GROOVY_HOME=/usr/local/opt/groovy/libexec

# Homebrew
export HOMEBREW_GITHUB_API_TOKEN="ae210ba3f65924e74cc7a3ec74b9fe95b0cc8622"
